* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: white;
    /* height: 100vh; */
}

.bubble1 {
    height: 45px;
    width: 45px;
    background-color: #000000;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(3, 23, 32);
    position: absolute;
    text-align: center;
    line-height: 40px;
    color: #FF9900;
    font-family: sans-serif;
    font-weight: bold;
}

.header h1 {
    color: white;
    text-align: center;
    margin-top: 25px;
}

h4 {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 15px;
}


footer {
    background-color: #000000;
    color: #FF9900;
    width: 100%;
    height: 110px;
    z-index: 666;
    position: absolute;
    bottom: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.left {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
}
.left h3{
    display: flex;
    justify-content: space-between;
}
.left label {
    /* float: right; */
    padding-left: 100px;
}

.BGcolor {
    background-color: #FF9900;
}

.center {
    margin-top: 15px;
}

.Timing-list {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: bold;
    /* width: 33.33%; */
    /* margin-left: 20%; */
}

.Timing-list .box {
    width: 30px;
    height: 30px;
    border: 2px solid #FF9900;
    display: inline-block;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.right {
    width: 15%;
    text-align: right;
    margin-right: 10px;
}

.right input {
    padding: 10px 10px;
    margin-bottom: 10px;
    background-color: #FF9900;
    color: #000000;
    border: none;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
}
.right input:hover{
    /* opacity: 0.9; */
    background-color: #ff9900e2;
}
.right p {
    font-weight: bold;
}

.title {
    /* height: 100vh; */
    text-align: center;
    align-items: center;
    margin-top: 200px;
    font-size: 100px;
    opacity: 0.2;
    /* color: #FF9900; */
}

.singlebubble {
    transform: scale(5);
}

/* Responsive Design */
@media (max-width:850px) {
    .title{
        font-size: 80px;
    }
    .left label{
        padding-left: 50px;
    }
}

@media (max-width:700px) {
    .title{
        font-size: 60px;
    }
    .left,.Timing-list{
        font-size: 17px;
    }
    .left label{
        padding-left: 30px;
    }
}

@media (max-width:600px) {
    .title{
        font-size: 50px;
    }
    .left label{
        padding-left: 20px;
    }
    .left,.Timing-list{
        font-size: 15px;
    }
    .Timing-list .box{
        width: 25px;
        height: 25px;
        border-radius: 8px;
    }
    .right input{
        padding: 6px 6px;
        font-size: 13px;
        border-radius: 8px;
    }
    .right p{
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .left{
        padding-left: 0;
    }
    .left label{
        padding-left: 10px;
    }
    .left,.Timing-list{
        font-size: 14px;
    }
}

@media (max-width: 480px)  {
    .left,.Timing-list{
        font-size: 10px;
    }
    .left h3{
        display: block;
    }
    .left label{
        padding-left: 2px;
    }
    .Timing-list .box{
        width: 17px;
        height: 17px;
        border-radius: 5px;
    }
    .right{
        width: auto;
        margin-right: 0;
        
    }
    .right input{
        padding: 3px 3px;
        font-size: 10px;
        border-radius: 5px;
    }
    .right p{
        font-size: 10px;
    }
}